
    <!-- Header -->
      <header id="header" class="skel-layers-fixed">
        <h1 id="logo"><a href="index.html">USABLE</a>: {{ page.title }} </h1>
        <nav id="nav">
          <ul>
            <li><a class="button" href="/index.html">Home</a>
            <ul>
              <li><a href="/index.html#about">About</a></li>
              <li><a class="button" href="/blog">Blog</a></li>
              <li><a href="/index.html#process">Process</a></li>
              <li><a href="/index.html#timeline">Timeline</a></li>
            </ul></li>
            <li><a class="button" href="/blog">Blog</a></li>            
            <li><a class="button" href="/trainings.html">Trainings</a></li>
            <li><a class="button" href="/uxforum.html">UXForum</a></li>
            <li><a class="button" href="/uxfund.html">UXFund</a></li>
          </ul>
        </nav>
      </header>