
		<!-- Three -->
			<section id="persona" class="" style="margin: 1em">
				<div class="container">

					<div class="box alt">
						<div class="row uniform">
							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="cn-ln" ><span class="icon alt major"><img class="12u 12u(medium) 12u$(xsmall)" src="/personas/cn-ln.png"</span></a>
								<h5><a href="cn-ln" >China: "L. N."</a></h5>
							</section>

							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="cn-zw" ><span class="icon alt major"><img class="12u 12u(medium) 12u$(xsmall)" src="/personas/cn-zw.png" /></span></a>
								<h5><a href="cn-zw" >China: "Z. W."</a></h5>
							</section>

							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="ua-m" ><span class="icon alt major"><img class="12u 12u(medium) 12u$(xsmall)" src="/personas/ua-m.png"/></span></a>
								<h5><a href="ua-m" >Ukraine: Masha</a></h5>
							</section>

							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="ug-pm" ><span class="icon alt major"><img class="12u 12u(medium) 12u$(xsmall)" src="/personas/ug-pm.png" /></span></a>
								<h5><a href="ug-pm" >Uganda: Paul</a></h5>
							</section>

							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="#" ><span class="icon alt major fa-users"></span></a>
								<h5><a href="#" >Mexico: <i class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></a></h5>
								</section>

							<section class="2u 3u(medium) 12u$(xsmall)">
								<a href="#" ><span class="icon alt major fa-users"></span></a>
								<h5><a href="#" >MENA: <i class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i></a></h5>
							</section>

						</div>
					</div>

				</div>
			</section>

